

body{
  background-image: url(././picky.jpg);
  /*background: rgb(41, 172, 172);*/
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0,7;
}

#th{
  text-align: center;
  font-size: 45px;

}

h1{
 text-align: center;
 color: burlywood;
 margin-right: 45px;
}




/*body, .container .row{
  margin: 0;
  padding: auto;
    background-color: burlywood;
}
#container{
  padding:30px;
  margin-top: 25px;
}
h2.rand{
  font-size: 35px;
  text-align:center;
  text-decoration: underline;

}
.col{
  font-size:25px;
}/*

  